@page
@model NetBanking.UI.Pages.DashboardModel
@{
}

<div class="row p-5 d-flex justify-items-center">
    <div class="col-md-7">
        <h2>Todas Las Cuentas  </h2>
        <div class="w-100">
            <div class="container-sm shadow-4 p-4 rounded">
                <h4 class="text-info">Cuenta: 58490098546</h4>
                <h5 class="w-100 d-flex justify-content-between"><p class="text-start col">Balance: $ 3000.87 </p></h5>
                <h6 class="text-success text-end col">Disponible</h6>
                <a asp-page="/Historico"
                   class="btn btn-outline-primary mt-2"
                   data-mdb-ripple-color="dark">
                    Transferir fondos
                </a>
            </div>
        </div>
        <div class="w-100">
            <div class="container-sm shadow-4 p-4 rounded">
                <h4 class="text-info">Cuenta: 58490098546</h4>
                <h5 class="w-100 d-flex justify-content-between"><span class="text-start col">Balance: $ 3000.87 </span><span class="text-success text-end col">Disponible</span></h5>

                <a asp-page="/Historico"
                   class="btn btn-outline-primary mt-2"
                   data-mdb-ripple-color="dark">
                    Transferir fondos
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-4 d-none d-sm-none d-md-none d-lg-block">
        <h4 class="text-dark mt-3">Actividades recientes</h4>
        <h5 class="text-dark mt-3"><b>D</b>eposito o <b>R</b>etiro</i></h5>
        <ul class="list-group">
            <li class="list-group-item"> 25/10/2021 $3000 <b>D</b></li>
            <li class="list-group-item"> 25/10/2021 $200 <b>R</b></li>
            <li class="list-group-item"> 15/10/2021 $200 <b>D</b></li>
            <li class="list-group-item"> 15/10/2021 $3000 <b>D</b></li>
            <li class="list-group-item"> 05/10/2021 $5000 <b>R</b></li>
        </ul>
    </div>
</div>

