@page
@model NetBanking.UI.Pages.TransferenciaModel
@{
}

@{ 

}
<!-- Navbar -->
<!--<nav class="navbar navbar-expand-lg navbar-light bg-light">-->
    <!-- Container wrapper -->
    <!--<div class="container-fluid">-->
        <!-- Toggle button -->
        <!--<button class="navbar-toggler"
                type="button"
                data-mdb-toggle="collapse"
                data-mdb-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>-->

        <!-- Collapsible wrapper -->
        <!--<div class="collapse navbar-collapse" id="navbarSupportedContent">-->
            <!-- Navbar brand -->
            <!--<a class="navbar-brand mt-2 mt-lg-0" href="/Dashboard">
                Netbanking
            </a>-->
            <!-- Left links -->
            <!--<ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" asp-page="/Transferencia">Transferencia</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-page="/Historico">Movimientos</a>
                </li>
            </ul>-->
            <!-- Left links -->
        <!--</div>-->
        <!-- Collapsible wrapper -->
        <!-- Right elements -->
        <!--<div class="d-flex align-items-center">-->
            <!-- Icon -->
            <!-- Notifications -->
            <!--<a class="text-reset me-3 dropdown-toggle hidden-arrow"
               href="#"
               id="navbarDropdownMenuLink"
               role="button"
               data-mdb-toggle="dropdown"
               aria-expanded="false">
                <i class="fas fa-bell"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end"
                aria-labelledby="navbarDropdownMenuLink">
                <li>
                    <a class="dropdown-item" href="#">Some news</a>
                </li>
                <li>
                    <a class="dropdown-item" href="#">Another news</a>
                </li>
                <li>
                    <a class="dropdown-item" href="#">Something else here</a>
                </li>
            </ul>-->

            <!-- Avatar -->
            <!--<a class="dropdown-toggle d-flex align-items-center hidden-arrow"
               href="#"
               id="navbarDropdownMenuLink"
               role="button"
               data-mdb-toggle="dropdown"
               aria-expanded="false">
                <img src="https://mdbootstrap.com/img/new/avatars/2.jpg"
                     class="rounded-circle"
                     height="25"
                     alt=""
                     loading="lazy" />
            </a>
            <ul class="dropdown-menu dropdown-menu-end"
                aria-labelledby="navbarDropdownMenuLink">
                <li>
                    <a class="dropdown-item" href="#">Logout</a>
                </li>
            </ul>
        </div>-->
        <!-- Right elements -->
    <!--</div>-->
    <!-- Container wrapper -->
<!--</nav>-->
<!-- Navbar -->

<div class="container-sm p-4 w-50 mt-5 rounded shadow-4">
    <h4>Enviar pagos</h4>
    <form method="post">
        <div class="input-group mt-4">
            <input type="search"
                   class="form-control rounded"
                   placeholder="Search"
                   aria-label="Search"
                   aria-describedby="search-addon" />
            <br />
            <button type="submit" class="btn btn-outline-primary">search</button>
        </div>

    </form>
    

    <h4 class="mt-5">Contactos</h4>
    <div class="list-group">
        <a href="#"
           class="list-group-item list-group-item-action"
           aria-current="true">
            Cras justo odio
        </a>
        <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
        <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
        <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
        <a href="#"
           class="list-group-item list-group-item-action disabled"
           tabindex="-1"
           aria-disabled="true">Vestibulum at eros</a>
    </div>
</div>