@page
@model NetBanking.UI.Pages.TransacionExitoModel
@{ ViewData["Title"] = "Transferido";
}


<div class="mb-3 shadow p-4 rounded">
    <h4 class="text-info">Transferencia Exitosa!</h4>
    <h5 style="margin-bottom:0 !important;"><p class="text-start "> </p></h5>

        <a style="margin-top:0 !important;" class="btn btn-outline-primary mt-2 col-6" asp-page="/Transferencia">
            Volver 
        </a>
</div>