@page
@model NetBanking.UI.Pages.TransferenciaDestinoModel
@{
}
<div class="container-sm shadow-5 p-4 w-25 mt-5 rounded">
    
        <h4>Nombre de destinatario</h4>
        <h6 class="text-muted">NO. Cuenta de destinatario</h6>

        <form>
            <div class="form-outline mb-4 mt-5">
                <input type="number" id="FormMonto" class="form-control form-control-lg" placeholder="$0.00"/>
                <label class="form-label text-center" for="form4Example1">Monto</label>
            </div>

            <button id="btnContinuar" type="submit" disabled class="btn btn-primary btn-block mb-4">Continuar</button>
        </form>
   
    <a asp-page="/Transferencia" class="btn btn-block mb-4">Cancelar</a>
</div>
