@page
@model NetBanking.UI.Pages.TransferenciaModel
@{
}

<div class="container-sm p-4 w-50 mt-5 rounded shadow-4">
    <h4>Enviar pagos</h4>
    <div class="input-group mt-4">
        <input type="search"
               class="form-control rounded"
               placeholder="Search"
               aria-label="Search"
               aria-describedby="search-addon" />
        <br />
        <button type="button" class="btn btn-outline-primary">search</button>
    </div>

    <h4 class="mt-5">Contactos</h4>
    <div class="list-group">
        <a href="#"
           class="list-group-item list-group-item-action"
           aria-current="true">
            Cras justo odio
        </a>
        <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
        <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
        <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
        <a href="#"
           class="list-group-item list-group-item-action disabled"
           tabindex="-1"
           aria-disabled="true">Vestibulum at eros</a>
    </div>
</div>
