@page
@model NetBanking.UI.Pages.Authenticate.HistorialModel
@{
}


<h3>Historial de transacciones:</h3>
<div class="form-outline mb-4">
    <input type="date" id="form1Example1" class="form-control" data-mdb-format="ddd,dd,mmm,yyyy" />
</div>

<div class=" form-outline mb-4">
    <input type="date" id="form1Example1" class="form-control" data-mdb-format="ddd,dd,mmm,yyyy" />
</div>

<div>
    <input type="submit" class="btn-primary btn-block" href="~/Authenticate/HTranferencia" value="Buscar">
</div>


<div class="text-md-start">



</div>