@page
@model NetBanking.UI.Pages.Authenticate.HTranferenciasModel
@{
}


<div class="card-body">

  <table class="table table-striped">

      <thead>
          <tr>
              <th><h3>historial:</h3></th>

          </tr>
          
      </thead>

      <tbody class="border-bottom">
          <tr>
             <td>usuario:</td>
              <td>cuenta:</td>
              <td>balance:</td>
              <td>fecha:</td>


          </tr>
      </tbody>


  </table>


</div>