@page
@model NetBanking.UI.Pages.Authenticate.MenuPrincipalModel
@{
}

<head>

    <style link rel="stylesheet" href="~//" type="text/css"></style>

</head>

<div class="align-text-top">

    <h2>Menu Principal</h2>

</div>

<div class="card">
    <div class="card-header">

        <label><h3>Hola:</h3></label>
        <br />

        <a href="~/Authenticate/Historial">Cuenta corriente:</a><br />
        <label></label>

    </div>
</div>
<br />
<div class="card">
<div class="card-body">

    <label>Cuenta corriente:</label>
    <br />
    <label>Balance Disponible:</label>

</div>
</div>

<div class="dropdown-menu-md-start">






</div>