@page
@model NetBanking.UI.Pages.Authenticate.RegisterModel
@{
    ViewData["Title"] = "Nuevo Usuario";
}

<div class="row pt-3">
    <a href="/">
        <h1 class="font-weight-bold">NetBanking</h1>
    </a>
    <div class="col-6 pt-3">
        <img src="~/img/login-background.svg" alt="Fondo del login" class="img-fluid" />
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-header">
                <h2>
                    <strong>Nuevo Usuario</strong>
                </h2>
                <small>Ingresa tus datos e inicia con nosotros.</small>
            </div>
            <div class="card-body">
                <form method="post" >
                    <div class="row mb-4">
                        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                        <div class="col">
                            <div class="form-outline">
                                <input type="text" id="form3Example1" class="form-control" asp-for="_Usuario.Cedula" />
                                <label class="form-label" for="form3Example1" asp-for="_Usuario.Cedula"> </label>
                                <span class="text-danger" asp-validation-for="_Usuario.Cedula"></span>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-outline">
                                <input type="text" id="form3Example1" class="form-control" asp-for="_Usuario.Nombres" />
                                <label class="form-label" for="form3Example1" asp-for="_Usuario.Nombres"> </label>
                                <span class="text-danger" asp-validation-for="_Usuario.Nombres"></span>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-outline">
                                <input type="text" id="form3Example2" class="form-control" asp-for="_Usuario.Apellidos"/>
                                <label class="form-label" for="form3Example2" asp-for="_Usuario.Apellidos"></label>
                                <span class="text-danger" asp-validation-for="_Usuario.Apellidos"></span>
                            </div>
                        </div>
                    </div>

                    <label class="form-label" for="form1Example1"  asp-for="_Usuario.FechaNacimiento"></label>
                    <div class="form-outline mb-4 datepicker">
                        <input type="date" id="form1Example1" class="form-control" data-mdb-format="ddd,dd,mm,yyyy" asp-for="_Usuario.FechaNacimiento" />
                        <span class="text-danger" asp-validation-for="_Usuario.FechaNacimiento"></span>
                    </div>

                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <input type="email" id="form1Example1" class="form-control" asp-for="_Usuario.Email" />
                        <label class="form-label" for="form1Example1" asp-for="_Usuario.Email"></label>
                        <span class="text-danger" asp-validation-for="_Usuario.Email"></span>
                    </div>

                    <!-- User input -->
                    <div class="form-outline mb-4">
                        <input type="text" id="form1Example1" class="form-control" asp-for="_Usuario.NombreUsuario" />
                        <label class="form-label" for="form1Example1" asp-for="_Usuario.NombreUsuario"></label>
                        <span class="text-danger" asp-validation-for="_Usuario.NombreUsuario"></span>
                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-4">
                        <input type="password" id="form1Example2" class="form-control" asp-for="_Usuario.Password" />
                        <label class="form-label" for="form1Example2" asp-for="_Usuario.Password"></label>
                        <span class="text-danger" asp-validation-for="_Usuario.Password"></span>
                    </div>

                    <!-- Confirm Password input -->
                    <div class="form-outline mb-4">
                        <input type="password" id="form1Example2" class="form-control" asp-for="_Usuario.CheckPassword" />
                        <label class="form-label" for="form1Example2" asp-for="_Usuario.CheckPassword"></label>
                        <span class="text-danger" asp-validation-for="_Usuario.CheckPassword"></span>
                    </div>

                   @* <!-- 2 column grid layout for inline styling -->
                    <div class="row mb-4">
                        <div class="col d-flex justify-content-center">
                            <!-- Checkbox -->
                            <div class="form-check">
                                <input class="form-check-input"
                                       type="checkbox"
                                       value=""
                                       id="form1Example3"
                                       checked />
                                <label class="form-check-label" for="form1Example3"> Recordarme </label>
                            </div>
                        </div>

                        <div class="col">
                            <!-- Simple link -->
                            <a href="#">Olvidaste tu contraseña?</a>
                        </div>
                    </div>*@

                    <!-- Submit button -->
                    <button type="submit" class="btn btn-primary btn-block">Registrarse</button>
                    <div class="col pt-3">
                        Ya tienes una cuenta? <a asp-page="/Index" class="font-weight-bold">Iniciar Sesion</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>